#container {
  font-family: cursive;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
button {
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: hsl(135, 100%, 42%);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: hsl(135, 100%, 60%);
}

button:active {
  background-color: hsl(135, 100%, 70%);
}

#passwordResult {
  margin: 25px;
}
